In [6]:
## arithmetic operations
a=10
b=20
print('Addition:',a+b)
print('Subtraction:',a-b)
print('Multiplication',a*b)
print('Division',a/b)

Addition: 30
Subtraction: -10
Multiplication 200
Division 0.5

In [7]:
## condition
a>b

False

In [8]:
a<b

True

In [9]:
a==b

False

In [10]:
a!=b

True

In [11]:
## logical
10==10 and 20>30

False

In [12]:
20<50 or 10==10

True

In [13]:
str1='welcome to python'

In [14]:
type(str1)

str

In [15]:
## List
list1=[2,10,40,50]

In [16]:
type(list1)

list

In [17]:
## tuple
tuple1=(2,10,40,50)

In [18]:
type(tuple1)

tuple

In [19]:
## Dictionaries
dict1={'Names':['Ajay','Sanjay'],'Age':[10,20]}

In [20]:
dict1

{'Names': ['Ajay', 'Sanjay'], 'Age': [10, 20]}

In [21]:
## for ,while--loops
list1=[10,20,30]

In [22]:
for i in list1:
    print(i)

10
20
30

In [26]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
## conditions if,elif,else
x=50
if x>20:
    x=x-10
    print(x)
elif x<20:
    x=x+10
    print(x)
else:
    print(x)

40

In [29]:
## Functions
def fun(x):
    return x*x

In [31]:
fun(2)

4

In [32]:
def fun(x,y):
    return x+y

In [33]:
fun(3,4)

7

In [34]:
add= lambda x: x+x

In [35]:
add(2)

4

In [36]:
mult= lambda x: x*x
mult(5)

25

## Numpy

In [37]:
import numpy as np

In [38]:
one_dim= np.array([10,40,50])

In [39]:
one_dim

array([10, 40, 50])

In [40]:
one_dim.ndim

1

In [41]:
two_dim= np.array([[10,20,30],[40,50,60],[70,80,90]])
two_dim

array([[10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]])

In [42]:
two_dim.ndim

2

In [43]:
two_dim.shape

(3, 3)

In [44]:
two_dim.size

9

In [45]:
np.mean(two_dim)

50.0

In [46]:
np.max(two_dim)

90

In [47]:
np.min(two_dim)

10

## Pandas

In [48]:
import pandas as pd
df= pd.read_csv('CARS_1.csv')

In [49]:
df

,name_of_car,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Unnamed: 15
0,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,"$89,765","$79,978",3.2,6.0,290.0,17.0,24.0,3153.0,100.0,174.0,NaN
1,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0,NaN
2,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0,NaN
3,Acura,MDX,NaN,Asia,All,"$36,945",NaN,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0,NaN
4,Acura,TL 4dr,NaN,Asia,Front,"$33,195",NaN,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,NaN,group by,1) data will split,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,NaN,NaN,2) apply the function mean(mpg),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
442,NaN,NaN,3) combine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df.shape

(443, 16)

In [51]:
df.size

7088

In [52]:
df.ndim

2

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name_of_car  428 non-null    object
 1   Model        429 non-null    object
 2   Type         409 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      406 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   343 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
 15  Unnamed: 15  2 non-null      float64
dtypes: float64(9), object(7)
memory usage: 55.5+ KB