# Data Analysis with Pandas: Problems 01

This document contains a series of data analysis problems to be solved using the Pandas library in Python. The problems are based on a real-world use case involving daily operational data. A dataset has been provided for this assignment.

## The Use Case: Analyzing Daily Operations

A business owner, Ms. Kavita, wants to analyze the daily sales data to better understand customer behavior and product performance. The data is available in a CSV file named sales_data.csv. Your task is to use Pandas to answer her questions. The dataset contains records of orders with details like customer name, product, quantity, unit price, and the date of the order.

## Instructions

For each problem, write and execute the Python code using Pandas. The problems are designed to be solved sequentially. You can load the data once and use the same DataFrame for all questions.

### Problem 1: Data Loading and Initial Inspection

Your first step is to load the provided CSV file into a Pandas DataFrame and perform an initial check to ensure the data is loaded correctly. This is a crucial first step in any data analysis workflow.

Write Python code to:

* Load the sales_data.csv file into a DataFrame.
* Display the first 5 rows to get a quick look at the data structure.
* Display the last 5 rows to see the end of the data.
* Print a concise summary of the DataFrame, including the data types of each column and the number of non-null values.

In [1]:
import os
os.getcwd()
os.listdir()

['.ipynb_checkpoints',
 'Data_Analysis_with_Pandas_Problems_01.ipynb',
 'Data_Analysis_with_Pandas_Problems_01.pdf',
 'new_sales1.csv',
 'sales_data.csv']

In [1]:
#Load the sales_data.csv file into a DataFrame.
import pandas as pd
df=pd.read_csv('sales_data.csv')
df

,order_id,customer_name,product_id,product_name,quantity,unit_price_inr,order_date,total_price_inr
0,101,Aarav,PROD004,Pistachio Delight,2,152.0,2025-07-01,304
1,102,Siya,PROD004,Strawberry Swirl,3,193.0,2025-07-02,579
2,103,Kiran,PROD004,Strawberry Swirl,4,226.0,2025-07-03,904
3,104,Priya,PROD001,Chocolate Chip,1,138.0,2025-07-04,138
4,105,Mohan,PROD004,Strawberry Swirl,1,177.0,2025-07-05,177
...,...,...,...,...,...,...,...,...
95,196,Aarav,PROD002,Strawberry Swirl,2,228.0,2025-10-04,456
96,197,Siya,PROD001,Strawberry Swirl,1,139.0,2025-10-05,139
97,198,Kiran,PROD002,Pistachio Delight,3,157.0,2025-10-06,471
98,199,Priya,PROD003,Pistachio Delight,3,92.0,2025-10-07,276
99,200,Mohan,PROD005,Vanilla Dream,2,242.0,2025-10-08,484

In [2]:
#Display the first 5 rows to get a quick look at the data structure.
print("Display the first 5 rows:")
df.head(5)

Display the first 5 rows:

,order_id,customer_name,product_id,product_name,quantity,unit_price_inr,order_date,total_price_inr
0,101,Aarav,PROD004,Pistachio Delight,2,152.0,2025-07-01,304
1,102,Siya,PROD004,Strawberry Swirl,3,193.0,2025-07-02,579
2,103,Kiran,PROD004,Strawberry Swirl,4,226.0,2025-07-03,904
3,104,Priya,PROD001,Chocolate Chip,1,138.0,2025-07-04,138
4,105,Mohan,PROD004,Strawberry Swirl,1,177.0,2025-07-05,177

In [3]:
#Display the last 5 rows to see the end of the data.
print("Display the last 5 rows to see the end of the data:")
df.tail(5)

Display the last 5 rows to see the end of the data:

,order_id,customer_name,product_id,product_name,quantity,unit_price_inr,order_date,total_price_inr
95,196,Aarav,PROD002,Strawberry Swirl,2,228.0,2025-10-04,456
96,197,Siya,PROD001,Strawberry Swirl,1,139.0,2025-10-05,139
97,198,Kiran,PROD002,Pistachio Delight,3,157.0,2025-10-06,471
98,199,Priya,PROD003,Pistachio Delight,3,92.0,2025-10-07,276
99,200,Mohan,PROD005,Vanilla Dream,2,242.0,2025-10-08,484

In [4]:
#Print a concise summary of the DataFrame, including the data types of each column and the number of non-null values.
print("concise summary of the data:")
df.info()

concise summary of the data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         100 non-null    int64
 1   customer_name    98 non-null     object
 2   product_id       100 non-null    object
 3   product_name     100 non-null    object
 4   quantity         100 non-null    int64
 5   unit_price_inr   95 non-null     float64
 6   order_date       100 non-null    object
 7   total_price_inr  100 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 6.4+ KB

### Problem 2: Basic Descriptive Analysis

Ms. Kavita wants to get a general overview of the dataset. Use basic Pandas functions to get a high-level summary of the data.

Write Python code to:

* Calculate the total number of orders.
* Find the total quantity of products sold.
* Calculate the total revenue (sum of 'total_price_inr').
* Find the number of unique products sold.
* Determine how many times each unique product was sold.

In [2]:
#Calculate the total number of orders.
import pandas as pd
df=pd.read_csv("sales_data.csv")
total_orders=df['order_id'].count()
print("total number of orders:",total_orders)

total number of orders: 100

In [3]:
#Find the total quantity of products sold.
total_quantity=df['quantity'].sum()
print("total quantity of products sold:",total_quantity)

total quantity of products sold: 273

In [7]:
#Calculate the total revenue (sum of 'total_price_inr').
total_revenue=df['total_price_inr'].sum()
print("total revenue is:",total_revenue)

total revenue is: 43585

In [8]:
#Find the number of unique products sold.
unique_products=df['product_name'].nunique()
print("number of unique products sold:",unique_products)

number of unique products sold: 5

In [9]:
#Determine how many times each unique product was sold.
unique_products=df['product_name'].value_counts()
unique_products

product_name
Strawberry Swirl     27
Chocolate Chip       22
Vanilla Dream        20
Pistachio Delight    16
Mango Medley         15
Name: count, dtype: int64

### Problem 3: Answering Specific Business Questions with Filtering and Grouping

Ms. Kavita has some specific questions about her operations. Use filtering and grouping techniques to find the answers.

Write Python code to:

* Filter the DataFrame to show all orders made by 'Aarav'.
* Find the total revenue from 'Aarav's orders.
* Identify the product that generated the most revenue.
* Calculate the average order value for each unique customer.
* Sort the data to show the top 5 orders by revenue, from highest to lowest.

In [10]:
#Filter the DataFrame to show all orders made by 'Aarav'.
filter_aarav=df[df['customer_name']=='Aarav']
print("Filter the DataFrame to show all orders made by 'Aarav':")
print(filter_aarav)

Filter the DataFrame to show all orders made by 'Aarav':
    order_id customer_name product_id       product_name  quantity  \
0        101         Aarav    PROD004  Pistachio Delight         2
5        106         Aarav    PROD002      Vanilla Dream         1
15       116         Aarav    PROD005     Chocolate Chip         2
20       121         Aarav    PROD001  Pistachio Delight         3
25       126         Aarav    PROD005     Chocolate Chip         3
30       131         Aarav    PROD005   Strawberry Swirl         4
35       136         Aarav    PROD001   Strawberry Swirl         2
40       141         Aarav    PROD004  Pistachio Delight         4
45       146         Aarav    PROD003       Mango Medley         4
50       151         Aarav    PROD004     Chocolate Chip         4
55       156         Aarav    PROD004     Chocolate Chip         2
60       161         Aarav    PROD001   Strawberry Swirl         2
65       166         Aarav    PROD002     Chocolate Chip         1
70       171         Aarav    PROD004     Chocolate Chip         1
75       176         Aarav    PROD005  Pistachio Delight         3
80       181         Aarav    PROD003     Chocolate Chip         3
85       186         Aarav    PROD003      Vanilla Dream         4
90       191         Aarav    PROD001       Mango Medley         2
95       196         Aarav    PROD002   Strawberry Swirl         2

    unit_price_inr  order_date  total_price_inr
0            152.0  2025-07-01              304
5            229.0  2025-07-06              229
15           108.0  2025-07-16              216
20           163.0  2025-07-21              489
25           160.0  2025-07-26              480
30           209.0  2025-07-31              836
35           153.0  2025-08-05              306
40           150.0  2025-08-10              600
45           147.0  2025-08-15              588
50             NaN  2025-08-20              636
55            98.0  2025-08-25              196
60           105.0  2025-08-30              210
65           193.0  2025-09-04              193
70           195.0  2025-09-09              195
75           174.0  2025-09-14              522
80           146.0  2025-09-19              438
85           195.0  2025-09-24              780
90           172.0  2025-09-29              344
95           228.0  2025-10-04              456

In [11]:
#Find the total revenue from 'Aarav's orders.
filter_aarav=df[df['customer_name']=='Aarav']
print(df['total_price_inr'].sum())
filter_aarav

43585

,order_id,customer_name,product_id,product_name,quantity,unit_price_inr,order_date,total_price_inr
0,101,Aarav,PROD004,Pistachio Delight,2,152.0,2025-07-01,304
5,106,Aarav,PROD002,Vanilla Dream,1,229.0,2025-07-06,229
15,116,Aarav,PROD005,Chocolate Chip,2,108.0,2025-07-16,216
20,121,Aarav,PROD001,Pistachio Delight,3,163.0,2025-07-21,489
25,126,Aarav,PROD005,Chocolate Chip,3,160.0,2025-07-26,480
30,131,Aarav,PROD005,Strawberry Swirl,4,209.0,2025-07-31,836
35,136,Aarav,PROD001,Strawberry Swirl,2,153.0,2025-08-05,306
40,141,Aarav,PROD004,Pistachio Delight,4,150.0,2025-08-10,600
45,146,Aarav,PROD003,Mango Medley,4,147.0,2025-08-15,588
50,151,Aarav,PROD004,Chocolate Chip,4,NaN,2025-08-20,636
55,156,Aarav,PROD004,Chocolate Chip,2,98.0,2025-08-25,196
60,161,Aarav,PROD001,Strawberry Swirl,2,105.0,2025-08-30,210
65,166,Aarav,PROD002,Chocolate Chip,1,193.0,2025-09-04,193
70,171,Aarav,PROD004,Chocolate Chip,1,195.0,2025-09-09,195
75,176,Aarav,PROD005,Pistachio Delight,3,174.0,2025-09-14,522
80,181,Aarav,PROD003,Chocolate Chip,3,146.0,2025-09-19,438
85,186,Aarav,PROD003,Vanilla Dream,4,195.0,2025-09-24,780
90,191,Aarav,PROD001,Mango Medley,2,172.0,2025-09-29,344
95,196,Aarav,PROD002,Strawberry Swirl,2,228.0,2025-10-04,456

In [12]:
#Identify the product that generated the most revenue.
product_revenue=df.groupby("product_name")['total_price_inr'].sum()
print(product_revenue)
max_revenue=product_revenue.max()
print("Identify the product that generated the most revenue:")
max_revenue

product_name
Chocolate Chip        6922
Mango Medley          7104
Pistachio Delight     7297
Strawberry Swirl     11769
Vanilla Dream        10493
Name: total_price_inr, dtype: int64
Identify the product that generated the most revenue:

11769

In [13]:
#Calculate the average order value for each unique customer.
customer_avg=df.groupby('customer_name')['total_price_inr'].mean()
print("the average order value for each unique customer:")
customer_avg

the average order value for each unique customer:

customer_name
Aarav    422.000000
Kiran    457.950000
Mohan    466.800000
Priya    478.400000
Siya     345.210526
Name: total_price_inr, dtype: float64

In [14]:
#Sort the data to show the top 5 orders by revenue, from highest to lowest.
sort_df=df.sort_values(by='total_price_inr',ascending=False)
print("Sort the data to show the top 5 orders by revenue, from highest to lowest:")
sort_df.head(5)

Sort the data to show the top 5 orders by revenue, from highest to lowest:

,order_id,customer_name,product_id,product_name,quantity,unit_price_inr,order_date,total_price_inr
78,179,Priya,PROD002,Strawberry Swirl,4,227.0,2025-09-17,908
2,103,Kiran,PROD004,Strawberry Swirl,4,226.0,2025-07-03,904
46,147,Siya,PROD002,Vanilla Dream,4,218.0,2025-08-16,872
8,109,Priya,PROD002,Vanilla Dream,4,211.0,2025-07-09,844
30,131,Aarav,PROD005,Strawberry Swirl,4,209.0,2025-07-31,836

### Problem 4: Combining DataFrames (Concatenation) and Time-Series data

Ms. Kavita has a new dataset representing an additional week of sales data. She also wants to analyze sales trends over time.

Write Python code to:

* Create a new DataFrame for an additional week of sales. Make sure its columns match the original DataFrame.
  The data to be used is presented below :
   `'order_id': ['201', '202', '203'],
    'customer_name': ['Rahul', 'Ananya', 'Aarav'],
    'product_id': ['PROD001', 'PROD005', 'PROD002'],
    'product_name': ['Chocolate Chip', 'Vanilla Dream', 'Mango Medley'],
    'quantity': [2, 3, 1],
    'unit_price_inr': [120, 180, 150],
    'order_date': ['2025-08-01', '2025-08-02', '2025-08-03'],
    'total_price_inr': [240, 540, 150`
* Concatenate the new DataFrame with the original one.
* Convert the 'order_date' column to a proper datetime format if not already done.
* Calculate the total daily revenue over the entire period.
* Find the day of the week with the highest sales on average.

Hint: The new DataFrame can be small, for example, 5 rows. You can create it manually using pd.DataFrame().

In [15]:
#Create a new DataFrame for an additional week of sales.
#Make sure its columns match the original DataFrame. 
#The data to be used is presented below : 
#'order_id': ['201', '202', '203'],  
#'customer_name': ['Rahul', 'Ananya', 'Aarav'],   
#'product_id': ['PROD001', 'PROD005', 'PROD002'],  
#'product_name': ['Chocolate Chip', 'Vanilla Dream', 'Mango Medley'],  
#'quantity': [2, 3, 1],  
#'unit_price_inr': [120, 180, 150],  
#'order_date': ['2025-08-01', '2025-08-02', '2025-08-03'], 
#'total_price_inr': [240, 540, 150
import pandas as pd
data={
    'order_id': ['201', '202', '203'],   
    'customer_name': ['Rahul', 'Ananya', 'Aarav'],  
    'product_id': ['PROD001', 'PROD005', 'PROD002'],  
    'product_name': ['Chocolate Chip', 'Vanilla Dream', 'Mango Medley'],  
    'quantity': [2, 3, 1],   'unit_price_inr': [120, 180, 150],   
    'order_date': ['2025-08-01', '2025-08-02', '2025-08-03'],   
    'total_price_inr': [240, 540, 150]
}
df=pd.DataFrame(data)
week_sales=df.to_csv("new_sales1.csv",index=False)
week_sales=pd.read_csv("new_sales1.csv")
week_sales

,order_id,customer_name,product_id,product_name,quantity,unit_price_inr,order_date,total_price_inr
0,201,Rahul,PROD001,Chocolate Chip,2,120,2025-08-01,240
1,202,Ananya,PROD005,Vanilla Dream,3,180,2025-08-02,540
2,203,Aarav,PROD002,Mango Medley,1,150,2025-08-03,150

In [16]:
#Concatenate the new DataFrame with the original one.
df=pd.read_csv('sales_data.csv')
week_sales=pd.read_csv("new_sales1.csv")
combined_sales=pd.concat([df,week_sales],ignore_index=True)
combined_sales

,order_id,customer_name,product_id,product_name,quantity,unit_price_inr,order_date,total_price_inr
0,101,Aarav,PROD004,Pistachio Delight,2,152.0,2025-07-01,304
1,102,Siya,PROD004,Strawberry Swirl,3,193.0,2025-07-02,579
2,103,Kiran,PROD004,Strawberry Swirl,4,226.0,2025-07-03,904
3,104,Priya,PROD001,Chocolate Chip,1,138.0,2025-07-04,138
4,105,Mohan,PROD004,Strawberry Swirl,1,177.0,2025-07-05,177
...,...,...,...,...,...,...,...,...
98,199,Priya,PROD003,Pistachio Delight,3,92.0,2025-10-07,276
99,200,Mohan,PROD005,Vanilla Dream,2,242.0,2025-10-08,484
100,201,Rahul,PROD001,Chocolate Chip,2,120.0,2025-08-01,240
101,202,Ananya,PROD005,Vanilla Dream,3,180.0,2025-08-02,540
102,203,Aarav,PROD002,Mango Medley,1,150.0,2025-08-03,150

In [17]:
#Convert the 'order_date' column to a proper datetime format 
combined_sales["order_date"]=pd.to_datetime(combined_sales["order_date"])
combined_sales

,order_id,customer_name,product_id,product_name,quantity,unit_price_inr,order_date,total_price_inr
0,101,Aarav,PROD004,Pistachio Delight,2,152.0,2025-07-01,304
1,102,Siya,PROD004,Strawberry Swirl,3,193.0,2025-07-02,579
2,103,Kiran,PROD004,Strawberry Swirl,4,226.0,2025-07-03,904
3,104,Priya,PROD001,Chocolate Chip,1,138.0,2025-07-04,138
4,105,Mohan,PROD004,Strawberry Swirl,1,177.0,2025-07-05,177
...,...,...,...,...,...,...,...,...
98,199,Priya,PROD003,Pistachio Delight,3,92.0,2025-10-07,276
99,200,Mohan,PROD005,Vanilla Dream,2,242.0,2025-10-08,484
100,201,Rahul,PROD001,Chocolate Chip,2,120.0,2025-08-01,240
101,202,Ananya,PROD005,Vanilla Dream,3,180.0,2025-08-02,540
102,203,Aarav,PROD002,Mango Medley,1,150.0,2025-08-03,150

In [18]:
#Calculate the total daily revenue over the entire period
total_daily_revenue=combined_sales.groupby(['order_date','customer_name'])['total_price_inr'].sum()
print(total_daily_revenue)
total_daily_revenue=combined_sales.groupby('order_date')['total_price_inr'].sum()
print(total_daily_revenue)

order_date  customer_name
2025-07-01  Aarav            304
2025-07-02  Siya             579
2025-07-03  Kiran            904
2025-07-04  Priya            138
2025-07-05  Mohan            177
                            ...
2025-10-04  Aarav            456
2025-10-05  Siya             139
2025-10-06  Kiran            471
2025-10-07  Priya            276
2025-10-08  Mohan            484
Name: total_price_inr, Length: 101, dtype: int64
order_date
2025-07-01    304
2025-07-02    579
2025-07-03    904
2025-07-04    138
2025-07-05    177
             ...
2025-10-04    456
2025-10-05    139
2025-10-06    471
2025-10-07    276
2025-10-08    484
Name: total_price_inr, Length: 100, dtype: int64

In [19]:
#Find the day of the week with the highest sales on average.
combined_sales['day_of_week']=combined_sales['order_date'].dt.day_name()
print(combined_sales)
average_sales=combined_sales.groupby('day_of_week')['total_price_inr'].mean().sort_values(ascending=False)
day_of_highest_sales=average_sales.idxmax()
print(f"day with highest average_sales:{day_of_highest_sales}")
highest_sales=average_sales.max()
print(f"highest sales on average:{highest_sales}")

     order_id customer_name product_id       product_name  quantity  \
0         101         Aarav    PROD004  Pistachio Delight         2
1         102          Siya    PROD004   Strawberry Swirl         3
2         103         Kiran    PROD004   Strawberry Swirl         4
3         104         Priya    PROD001     Chocolate Chip         1
4         105         Mohan    PROD004   Strawberry Swirl         1
..        ...           ...        ...                ...       ...
98        199         Priya    PROD003  Pistachio Delight         3
99        200         Mohan    PROD005      Vanilla Dream         2
100       201         Rahul    PROD001     Chocolate Chip         2
101       202        Ananya    PROD005      Vanilla Dream         3
102       203         Aarav    PROD002       Mango Medley         1

     unit_price_inr order_date  total_price_inr day_of_week
0             152.0 2025-07-01              304     Tuesday
1             193.0 2025-07-02              579   Wednesday
2             226.0 2025-07-03              904    Thursday
3             138.0 2025-07-04              138      Friday
4             177.0 2025-07-05              177    Saturday
..              ...        ...              ...         ...
98             92.0 2025-10-07              276     Tuesday
99            242.0 2025-10-08              484   Wednesday
100           120.0 2025-08-01              240      Friday
101           180.0 2025-08-02              540    Saturday
102           150.0 2025-08-03              150      Sunday

[103 rows x 9 columns]
day with highest average_sales:Wednesday
highest sales on average:551.7333333333333